/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Electrolize&family=Fredoka+One&family=Gruppo&family=Indie+Flower&family=Josefin+Sans:wght@300;400;500;600;700&family=Lato:wght@300&family=Montserrat:wght@400;900&family=Orbitron:wght@400;600&family=Oswald:wght@200;700&family=Poppins:wght@200;300;400;500&family=Quantico:wght@400;700&family=Red+Rose:wght@300;700&family=Roboto:wght@100;300;400;500&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: #f5f5f5;
}
header{
  background-color:#3400ff;
  height: 500px;
}
/* ------------------nav bar---------------------- */
nav{
float: right;
  margin-top: 25px;
  margin-right: 40px;
}

.nav-item{
  color: #fff;
  margin-right: 20px;

}

.nav-item-active{
  background-color: #fff;
  padding: 5px;
  margin-right: 20px;
  border-radius: 5px;
  color: #5a31fc;
  font-weight: 400;

}
.logo{
  margin-top: 25px;
  margin-left: 40px;
}
/* -----------------------Header text-------------------- */
.header-text{
  float: left;
  color: #fff;
  margin-top: 60px;
  margin-left: 40px;
  
}
.header-text h2{
  font-size: 38px;
}
.header-text p{
  margin-top: 10px;
}
.header-image{
  float:right;
  margin-top: 20px;
}
/* --------------------------Companies---------------------- */
.companies{
  margin-top: 20px;
  margin-left: 40px;
}
.company-items{
  text-decoration: none;
  color: #000;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Josefin Sans';
}
.api-heading{
  font-weight: 800;
  font-size: 40px;
  margin-left: 50px;
  margin-top: 80px;
}
/* -------------------------Cards---------------------------- */
.cards{
  margin-top: 50px;
  margin-left:60px;
  display: flex;
  flex-direction: row;
}
.card{
  width: 20%;
  height: 250px;
  margin-right: 30px;
  padding: 10px;
  border-radius: 10px;
}
.card-active{
    width: 20%;
    height: 250px;
    background-color: #fff;
    margin-right: 30px;
    box-shadow: 5px 10px 10px #888888;
    padding: 10px;
    border-radius: 10px;
}
.card-head-active{
  color: #5a31fc;
  font-size: 15px;
  margin-top: 15px;
}
.card-head{
  margin-top: 15px;
  font-size: 15px;
}
.card-body{
  margin-top: 15px;
  font-size: small;
}

/* ---------------------------Blog items-------------------- */

.blog-heading{
  font-weight: 800;
  font-size: 20px;
  margin-left: 55px;
  margin-top: 80px;

}
.blog-cards{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: 30px;
  margin-top: 20px;
  width: 25%;

}
.blog-card{
  display: flex;
  justify-content: space-around;
}
.blog-content{
  position: relative;
  width: 250px;
  background-color: #fff;
  padding-left: 30px;
  border-radius: 10px;
  
}
.blog-content{
  padding-left: 40px;
}
.blog-content h6{
  margin-top: 30px;
  margin-left: 5px;

  color: #5a31fc;
}
.blog-content h3{
  font-size: 15px;
  margin-top: 15px;
  margin-left: 5px;
}
.blog-content small{
  margin-top: 40px;
  text-align: center;
}
.blog-bottom{
  position: relative;
  top: 260px;
  right: 230px;
}
.blog-author{
  position: absolute;
  width: 60;
  top: 130px;
  margin-left: 70px;
  font-size:10px; 
}
.blog-author b{
  text-align: justify;
}

.blog-image{
  padding-left: 50px;
  
}
/* -------------------------faq-section------------------ */
.faq-section{
  display: flex;
  justify-content: space-between;
  background-color:#cddef3;
  margin-top: 80px;
}
.faq-section h2{
  margin-top: 20px;
  margin-left: 60px;
  font-size: 40px;
}
.faq-section h4{
  margin-top: 10px;
  margin-left: 60px;
  font-size: 11px;
}
.faq-content > h4:nth-of-type(2){
  font-size: 16px;
  font-weight: 500;
  color:#1f1f1f;
 }
.faq-section button{
  margin-left: 60px;
  margin-top: 10px;
  background-color: #4c47f6;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.faq-image{
  display: flex;
}

/*-----------------------Download section--------------------  */
.download-section{
  display: flex;
  justify-content: space-between;
  height: 250px;
}
.download-content{
  position: relative;
  top: 50%;
}
.download-content h1{
  margin-left: 50px;;
}
span{
  font-weight: 400;
}
.download-email{
  position: relative;
  top: 50%;
  margin-right: 50px;
}
.download-email form input{
  position: relative;
  background-color: #bfd5f0;
  color: #000;
  right: 125px;
  width: 350px;
  border: none;
  border-radius: 30px;
  padding: 12px 60px 12px 25px;
 
}
.download-email form button{
  position: absolute;
  background-color:#4c47f6;
  color: #fff;
  right: 40px;
  border: none;
  border-radius: 30px;
  padding: 12px 40px;
}
/* ----------------------------Footer----------------------- */
.footer-section{
  background-color:#4c47f6;
  overflow: hidden;
  align-items: center;
  height: 250px;
}

.footer-left{
  float: left;
}
.footer-logo{
  margin-top: 80px;
  margin-left: 50px;
}
.list{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: 30px;
}
.list-items{
  margin-right: 20px;
  color: #fff;
  font-size: 12px;
  list-style: none;
  line-height: 23px;
  opacity: 0.7;
  
}
.list .list-items:nth-child(1n+3){
  border-left: 2px solid #fff;
  opacity: 0.7;
  padding-left: 10px;
}

.footer-right{ 
  float: right;
  margin-right: 40px;
  
}
.footer-logos{
  margin-top: 90px;
  margin-left: 40px;
  margin-left: 10px;
  width: 40px;
 
}
 .logos-list{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 150px;
  padding: 0;
  opacity: 0.7;

 }
 .logos-list .list-items{
  list-style: none;
  margin-left: 40px;
  line-height: 23px;
  color: #fff;

 }
 .logos-list .list-items:nth-child(2){
  border-left: 2px solid #fff;
  opacity: 0.7;
  padding-left: 10px;
}
.logos-list .list-items:nth-child(3){
  border-left: 2px solid #fff;
  opacity: 0.7;
  padding-left: 10px;
}
.logos-list .list-items:nth-child(2){
  margin-left: -75px;
}
.logos-list .list-items:nth-child(3){
  margin-left: -75px;
}
/* -----------------Media Query----------------------- */

@media screen and (max-width:1230px) {
  .nav-item{
    display: none;
  }

  .header-image{
    height: 40%;
    display: block;
  }
  .cards{
    display: block;
  }
  .companies{
    display: none;
  }
  .blog-card{
    display: block;
  }
  .blog-content{
    display: none;
  }
  .faq-section{
    display: none;
  }
  
}
@media screen and (max-width: 900px) {
  .header-image{
    display: none
  }
  .header-text h2{
    text-align: center;
  }
  .header-text p{
    text-align: center;
  }

  .api-heading{
    text-align: center;
  }
  .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  
  }
  .blog-card{
    height: 40%;

  }
  .blog-heading{
    text-align: center;
  }
  .download-content h1{
    display: none;
  }
  .footer-section{
    display: block;
  }
  
}
 





